<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${selectionName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">

    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script>

    </script>
<body>
    <div>
        <div class="modal-dialog">
            <div class="modal-content">
                <!--登陆框头部-->
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">
                        欢迎管理员登陆！
                    </h4>
                </div>
                <!--登录框中间部分(from表单)-->
                <div class="modal-body">
                    <form class="form-horizontal" role="form" action="/campus" method="post" onsubmit="return Juge(this)">
                        <!--账号-->
                        <input value="1" id="type" name="type" hidden>
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">账号</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="username" name="username" placeholder="" required="required">
                                <div style="display: inline" id="tip1"></div>
                            </div>
                        </div>
                        <!--密码框-->
                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label" >密码</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="password"  name="password" placeholder="" required="required">
                                <div style="display: inline" id="tip2"></div>
                            </div>
                        </div>
                        <!--登陆按钮-->
                        <div class="form-group">
                            <div class="col-sm-offset-5 col-sm-10">
                                <button type="submit" class="btn btn-primary">登录</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>