<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>校园实习网</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">

    <script src="js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>


<div class="container-fluid main-index">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >
            <!--轮播图-->
            <div  style="margin-top:15px">
                <div id="myCarousel" class="carousel slide carousel-hight">
                    <!-- 轮播（Carousel）指标 -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <!-- 轮播（Carousel）项目 -->
                    <div class="carousel-inner carousel-hight">
                        <div class="item active">
                            <a href="/campus" target="_blank"> <img src="https://sxsimg.xiaoyuanzhao.com/adservice/image/20200407095103a8kROIARLlWbDWapOb.png" alt="First slide" style="width: 880px;height:250px;"></a>
                        </div>
                        <div class="item">
                            <img src="https://sxsimg.xiaoyuanzhao.com/adservice/image/20200408113530Ws27pCGDT384coHKpG.png" alt="Second slide" style="width: 880px;height:250px;">
                        </div>
                        <div class="item">
                            <img src="https://sxsimg.xiaoyuanzhao.com/adservice/image/20200330141844UM2MFWIWccVRjKPPvH.png" alt="Third slide" style="width: 880px;height:250px;">
                        </div>
                    </div>
                    <!-- 轮播（Carousel）导航 -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>


            <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp 热门推荐</h2>
            <hr>
            <!--卡片式列表-->
            <div class="row">
                <div class="col-sm-6 col-md-4" th:each="job: ${joblist}">
                    <div class="thumbnail">
                        <div class="media-body">
                            <a th:href="@{'/job/'+${job.id}}">
                            <img class="media-object img-rounded media-object company-logo"  th:src="${job.enterpriseLogo}"  alt="头像" style="width: 80px;height: 80px;">
                            </a>
                            <div class="job-context">
                            <h4 class="media-heading">
                                <a th:href="@{'/job/'+${job.id}}" th:text="${job.name}"></a>
                            </h4>
                            <span class="desc" th:text="${job.type}"></span></br>
                            <span class="desc" th:text="${job.degree}"></span> </br>
                            <span class="desc" >2000-3000</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h2>热门职位</h2>
            <br>
            <table class="table table-striped">
                <th>职位名称</th><th>浏览数</th>
                <tr class="tr_node"  th:each="job: ${listByCount}">
                <!--动态载入数据-->
                    <td><a style="text-decoration:none" th:href="@{'/job/'+${job.id}}" th:text="${job.name}"></a></td>
                    <td ><span class="label label-info" th:text="${job.viewCount}"></span></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="jumbotron text-center" style="padding:0;margin-buttom:15px">
    <p th:text="${'管理员邮箱:'+office_email}" style="font-size: 15px;"></p>
    <a href="/login">管理员登录</a>
</div>
</body>
</html>
