<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    h3{width:100%;padding-bottom:10px;border-bottom:2px solid #CCC;}
    #close{position:absolute;top:2px;right:2px;}
    #close span{padding:3px 10px;background-color: #999;font-size:20px;color:white;cursor:pointer;}
    #log{display: none; width: 400px; height: 400px; padding: 30px 40px; background-color: #F3F5F6; position: fixed; top: 70px;; right: 30px;}
    .error{float:right;color:red;font-size:1.2em;margin-right:10px}
</style>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/css/community.css">

<script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
<script src="/js/bootstrap.min.js" type="application/javascript"></script>
<script>
    var checkPassword = function(){
        document.getElementById("psword").innerHTML ="";
        var name = eval(document.getElementById('pwd')).value;
        if (name.length > 12 || name.length < 6)
            document.getElementById("psword").innerHTML="密码长度在6-12之间！" ;
    }

</script>


<body>
    <div th:fragment="nav">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <img th:src="${'/img/pic4.jpg'}"  alt="头像" class="logo">
                    <a class="navbar-brand" href="/campus">校园实习网</a>
                </div>



                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/campus">首页 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">实习岗位</a></li>
                    </ul>
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>


                    <ul class="nav navbar-nav navbar-right">
                        <li th:if="${session.user!=null}">
                            <a href="/publish">分享</a>
                        </li>
                        <li th:if="${session.user==null}">
                            <button type="submit" class="btn btn-primary btn-login" data-toggle="modal" data-target="#myModal">
                                登陆
                            </button>
                            <!-- 登录模态框（Modal） -->
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <!--登陆框头部-->
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                ×
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel">
                                                欢迎登陆！
                                            </h4>
                                        </div>
                                        <!--注册框中间部分(from表单)-->
                                        <div class="modal-body">
                                            <form class="form-horizontal" role="form" action="/campus" method="post">
                                                <!--账号-->
                                                <div class="form-group">
                                                    <label for="username" class="col-sm-2 control-label">账号</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="username" name="username" placeholder="" required="required">
                                                    </div>
                                                </div>
                                                <!--密码框-->
                                                <div class="form-group">
                                                    <label for="password" class="col-sm-2 control-label" >密码</label>
                                                    <div class="col-sm-10">
                                                        <input type="password" class="form-control" id="password"  name="password" placeholder="" required="required">
                                                    </div>
                                                </div>
                                                <!--用户类型-->
                                                <div class="form-group">
                                                    <label for="password" class="col-sm-2 control-label" >用户类型</label>
                                                    <div class="col-sm-10">
                                                        <select class="form-control" id="type" name="type">
                                                            <option value="0">学生</option>
                                                            <option value="1">教师</option>
                                                            <option value="2">企业用户</option>
                                                        </select>
                                                     </div>
                                                </div>
                                                <!--登陆按钮-->
                                                <div class="form-group">
                                                    <div class="col-sm-offset-2 col-sm-10">
                                                        <button type="submit" class="btn btn-primary">登录</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li th:if="${session.user==null}">
                            <button type="submit" class="btn btn-primary btn-login" data-toggle="modal" data-target="#Modal">
                                注册
                            </button>
                            <!-- 注册模态框（Modal） -->
                            <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true" data-backdrop="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <!--注册框头部-->
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                ×
                                            </button>
                                            <h4 class="modal-title" id="ModalLabel">
                                                欢迎企业用户注册！
                                            </h4>
                                        </div>
                                        <!--注册框中间部分(from表单)-->
                                        <div class="modal-body">
                                            <form class="form-horizontal" role="form" action="/register" method="post">
                                                <!--统一社会信用代码-->
                                                <div class="form-group">
                                                    <label for="creditCode" class="col-sm-2 control-label">统一社会信用代码</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="creditCode" name="creditCode" placeholder="" required="required">
                                                    </div>
                                                </div>
                                                <!--企业全称-->
                                                <div class="form-group">
                                                    <label for="company" class="col-sm-2 control-label" >公司名称</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="company"  name="company" placeholder="" required="required">
                                                    </div>
                                                </div>
                                                <!--注册人名称-->
                                                <div class="form-group">
                                                    <label for="hrName" class="col-sm-2 control-label" >注 册 人</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="hrName"  name="hrName" placeholder="" required="required">
                                                    </div>
                                                </div>
                                                <!--注册人手机号码-->
                                                <div class="form-group">
                                                    <label for="phone" class="col-sm-2 control-label" >联系方式</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="phone"  name="phone" placeholder="" required="required">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label for="email" class="col-sm-2 control-label" >邮箱</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" id="email"  name="email" placeholder="" required="required">
                                                    </div>
                                                </div>
                                                <!--密码-->
                                                <div class="form-group">
                                                    <label for="password" class="col-sm-2 control-label" >密 码</label>
                                                    <span id="psword" class="error"> </span>
                                                    <div class="col-sm-10">
                                                        <input type="password" class="form-control" id="pwd"  name="password" placeholder="" required="required" onblur='checkPassword()'>
                                                    </div>
                                                </div>

                                                <!--注册按钮-->
                                                <div class="form-group">
                                                    <div class="col-sm-offset-5 col-sm-10">
                                                        <button type="submit" class="btn btn-primary">注册</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown" th:if="${session.user!=null}">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">
                                <span th:if="${session.user.getType()==0}" th:text="${session.user.getName()}"></span>
                                <span th:if="${session.user.getType()==2}" th:text="${session.user.getHrName()}"></span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile/info">个人中心</a></li>
                                <li><a href="/logout">退出登录</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>