<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${selectionName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">

    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>

    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/distpicker/2.0.3/distpicker.js"></script>

    <script>
        // 头像预览
        $("#avatar_file").change(function () {
            // 获取上传文件对象
            var file = $(this)[0].files[0];
            // 读取文件URL
            var reader = new FileReader();
            reader.readAsDataURL(file);
            // 阅读文件完成后触发的事件
            reader.onload = function () {
                // 读取的URL结果：this.result
                $("#avatar_img").attr("src", this.result);
            }
        });
    </script>

    <!--修改密码-->
    <script>
        var editPassword = function(){

            $("#password1").blur(function(){
                var num=$("#password1").val().length;
                if(num<6){
                    $("#tip2").html("<font color=\"red\" size=\"2\">  密码至少要6位！</font>");
                }
                else if(num>18){
                    $("#tip2").html("<font color=\"red\" size=\"2\">  密码长度不能18位</font>");
                }
                else{
                    $("#tip2").html("<font color=\"green\" size=\"2\"> OK</font>");
                }
            }) ;

            $("#password2").blur(function(){
                var tmp=$("#password1").val();
                var num=$("#password2").val().length;
                if($("#password2").val()!=tmp){
                    $("#tip3").html("<font color=\"red\" size=\"2\">  和第一次输入不同</font>");
                }
                else{
                    if(num>=6&&num<=18){
                        $("#tip3").html("<font color=\"green\" size=\"2\">  OK</font>");
                    }
                    else{
                        $("#tip3").html("<font color=\"red\" size=\"2\">  密码长度太短或太长</font>");
                    }
                }
            });

            $("#updatePassword").modal();
        }
    </script>

    <!--照片预览-->
    <script>
        function upLoad(){
            var fileInput = document.getElementById("fileName");
            var file = fileInput.files[0];
            //创建读取文件的对象
            var reader = new FileReader();
            //创建文件读取相关的变量
            var imgFile;
            //为文件读取成功设置事件
            reader.onload=function(e) {
                // alert('文件读取完成');
                imgFile = e.target.result;
                console.log(imgFile);
                $("#img").attr('src',imgFile);
            };

            //正式读取文件
            reader.readAsDataURL(file);
        }
    </script>
    <script>
        function Juge(myform){
            if (myform.degree.value == ""){
                alert("请输入学历!");myform.degree.focus();
                return false;
            }
            if (myform.nickname.value == ""){
                alert("请输入昵称!");myform.nickname.focus();
                return false;
            }
            if (myform.email.value == ""){
                alert("请输入邮箱地址!");myform.email.focus();
                return false;
            }
            if (myform.phone.value == ""){
                alert("请输入联系方式!");myform.phone.focus();
                return false;
            }
            if (myform.dept.value == ""){
                alert("请输入所属学院!");myform.dept.focus();
                return false;
            }
            if (myform.major.value == ""){
                alert("请输入所学专业!");myform.major.focus();
                return false;
            }
        }
    </script>
    <script>
        var query1=null;
        var query2=null;
        var query3=null;
        var query4=null;
        var query5=null;
        $(document).ready(function() {
            $("p#recommend").click(function () {
                query1 = document.getElementById("TargetType").value;
                query2 = document.getElementById("TargetJob").value;
                query3 = document.getElementById("TargetProvince").value;
                query4 = document.getElementById("TargetCity").value;
                query5 = document.getElementById("TargetDistrict").value;
                recommend(query1, query2, query3, query4, query5)
            })
        })
            function recommend(query1,query2,query3,query4,query5){
            $.ajax({
            type : 'post',
            url : 'http://localhost:8080/profile/recommend',
            cache : false, // 禁用缓存
            data :{
            "TargetType":query1,
            "TargetJob":query2,
            "TargetProvince":query3,
            "TargetCity":query4,
            "TargetDistrict":query5
            } ,

            success : function(data) {
            //取出后端传过来的list值
            var temp = JSON.stringify(data)
            //JSON数组字符串 转换成 JSON数组
            var res=$.parseJSON(temp);
            $('.table').empty()
            var jobs="<table id='table' class='table'>"
            $.each(res,function(index,val) {
            var value=JSON.parse($.parseJSON(JSON.stringify(index)))
            var newtime=gettime(value.gmtCreate)
            jobs = jobs+"<tr><td>"
                +"<img class='media-object img-rounded media-object' style='float:left;margin-right:40px' id='img' src="+value.enterpriseLogo+" >"
                +"<h4 class='media-heading'>"
                    +"<a style='text-decoration:none' href='/job/"+value.id+"'>"+value.name+"</a>"
                    +"</h4>"
                +"<span class='desc'>"+value.workDays+"</span><span class='desc'>天/周 | </span>"
                +"<span class='desc'>"+value.degree+"</span><span class='desc'> | </span>"
                +"<span class='desc'>"+newtime+"</span>"
                +"</td>"
                +"<td></td>"
                +"<td> <a class='btn btn-primary' href='/job/"+value.id+"' role='button' style='float:right'>查看详情</a> </td>"
                +"</tr>"
            })
            //将要展示的信息写入页面
            jobs=jobs+"</table>"
            var rowTr=document.getElementById("jobs");
            rowTr.innerHTML = jobs
            //将信息追加
            $(".jobs").append(rowTr)
            }

            });

            }
            function gettime(t){
            var _time=new Date(t);
            var   year=_time.getFullYear();//2017
            var   month=_time.getMonth()+1;//7
            var   date=_time.getDate();//10
            var   hour=_time.getHours();//10
            var   minute=_time.getMinutes();//56
            return   year+"-"+month+"-"+date+" "+hour+":"+minute;//这里自己按自己需要的格式拼接
            }
    </script>
    <!--<script>
        $(function() {
            var province = $("tt").text();
            alert(province)
            var city = $("c").text();
            var district = $("d").text();
            if (!isNull(province)) {
                $("#TargetType option[value='" + province + "']").attr("selected", true);
            }
        })
    </script>-->
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>

<div class="container-fluid main-index">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >
            <h2 th:text="${selectionName}"></h2>
            <hr>
            <div th:if="${selectionName=='详细信息'}">
                <div class="media-left">
                    <!--<img class="media-object img-rounded media-object" id="img" src="/show?fileName=${fileName}" alt="图片" onerror="this.src='/img/pic3.jpg'" onchange="upLoad()">-->
                    <form action="fileUpload" method="post" enctype="multipart/form-data">
                        <!--<img class="media-object img-rounded media-object" id="img" th:src="${fileName!=null? '/show?fileName=${fileName}':'/img/pic1.jpg'}"  alt="头像">-->
                        <!--上传图片-->
                        <img class="media-object img-rounded media-object" id="img" th:src="@{${session.user.getAvatarUrl()}}" onerror="this.src='/img/pic2.jpg'" alt="头像" onchange="upLoad()">
                        <label for="fileName" class="btn btn-default btn-editPwd">选择图片</label>
                        <input id="fileName" type="file" name="fileName" style="display:none" onchange="upLoad()">
                        <p><input type="submit" class="btn btn-default btn-editPwd" value="上传图片"/></p>
                    </form>

                    <!--修改密码-->
                    <button onclick="editPassword()" type="button" class="btn btn-default btn-editPwd">修改密码</button></br>
                    <!--修改密码框-->
                    <div class="modal fade" id="updatePassword" tabindex="-1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="exampleModalLabel">密码修改</h4>
                                </div>
                                <div class="modal-body">
                                    <form name = "editForm" method="post" action="/profile/info">
                                        <div class="form-group">
                                            <label for="oldpassword">原密码：</label>
                                            <input  type='password' id="oldpassword"  class="form-control" name="oldpassword" required placeholder="原密码">
                                            <div style="display: inline" id="tip1"></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="password1">新密码:</label>
                                            <input  type='password' id="password1" name="password1"  class="form-control" required placeholder="长度为: 6-18">
                                            <div style="display: inline" id="tip2"></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="password2">再次输入:</label>
                                            <input type='password' id="password2" name="password2"  class="form-control" required placeholder="必须和第一次一样">
                                            <div style="display: inline" id="tip3"></div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-primary" ng-disabled="editForm.$invalid">确定</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<input type="file" id="avatar_file" name="avatar_file"
                           accept="image/jpg,image/png,image/gif"
                           style="width: 100%;height:100%;opacity: 0;position: absolute;left:0;top: 0;"/>-->
                </div>
                <div class="media-body">
                    <form class="form-horizontal" method="post" action="/profile/info" onsubmit="return Juge(this)">
                        <div class="form-group">
                            <label for="accountId" class="col-md-1 control-label">账号</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="accountId" name="accountId" th:value="${session.user.getAccountId()}" readonly>
                            </div>
                            <label for="degree" class="col-md-2 control-label">学位</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="degree" name="degree" th:value="${session.user.getDegree()}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nickname" class="col-md-1 control-label">昵称</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="nickname" name="nickname" th:value="${session.user.getNickname()}">
                            </div>
                            <label for="name" class="col-md-2 control-label">姓名</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="name" name="name" th:value="${session.user.getName()}" readonly>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-md-1 control-label">邮箱</label>
                            <div class="col-md-4">
                                <input type="email" class="form-control" id="email" name="email" th:value="${session.user.getEmail()}" >
                            </div>
                            <label for="phone" class="col-md-2 control-label">联系方式</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="phone" name="phone" th:value="${session.user.getPhone()}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="dept" class="col-md-1 control-label">学院</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="dept" name="dept" th:value="${session.user.getDept()}">
                            </div>
                            <label for="major" class="col-md-2 control-label">所学专业</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="major" name="major" th:value="${session.user.getMajor()}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="bio" class="col-md-1 control-label">简介</label>
                            <div class="col-md-10">
                                <textarea id="bio" name="bio"  class="form-control" cols="30" rows="3" th:text="${session.user.getBio()}"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-5 col-md-10">
                                <button type="submit" class="btn btn-success">修改</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div th:if="${selectionName=='我的分享'}">
                <div class="media" th:each="questionDTO: ${paginationDTO.questions}">
                    <div class="media-left">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a th:href="@{'/question/'+${questionDTO.id}}" th:text="${questionDTO.title}"></a>
                        </h4>
                        <span th:text="${questionDTO.description}"></span> </br>
                        <span class="desc" th:text="${questionDTO.commentCount}"></span><span class="desc">个回复 • </span>
                        <span class="desc" th:text="${questionDTO.viewCount}"></span><span class="desc">次浏览 • </span>
                        <span class="desc" th:text="${#dates.format(questionDTO.gmtCreate,'YYYY-MM-dd HH:mm')}"></span>
                    </div>
                    <hr>
                </div>

                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            <a th:href="@{'/profile/'+${selection}(page=1)}" aria-label="Previous">
                                <span aria-hidden="true">首页</span>
                            </a>
                        </li>
                        <li th:if="${paginationDTO.currentPage>1}">
                            <a th:href="@{'/profile/'+${selection}(page=${paginationDTO.currentPage -1})}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li th:each="pagelist: ${paginationDTO.pageList}" th:class="${pagelist==paginationDTO.currentPage}?'active':''">
                            <a th:href="@{'/profile/'+${selection}(page=${pagelist})}" th:text="${pagelist}"></a>
                        </li>
                        <li th:if="${paginationDTO.currentPage<paginationDTO.totalPage}">
                            <a th:href="@{'/profile/'+${selection}(page=${paginationDTO.currentPage+1})}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{'/profile/'+${selection}(page=${paginationDTO.totalPage})}" aria-label="Next">
                                <span aria-hidden="true">末页</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div th:if="${selectionName=='职位推荐'}">
               <h3 style="color: #3072ab"><span class="glyphicon glyphicon-bookmark"></span>&nbsp 意向职位</h3>
                <br>
                <form class="form-horizontal">
                    <p id="p" th:text="${province}" hidden></p>
                    <p id="c" th:text="${city}" hidden></p>
                    <p id="d" th:text="${district}" hidden></p>
                    <div class="form-group">
                        <label for="TargetType" class="col-md-2 control-label">目标职位类别</label>
                        <div class="col-md-8">
                            <select id="TargetType" name="TargetType" class="form-control" size="1">
                                <option value="" disabled selected>--请选择--</option>
                                <option value="计算机/网络/技术类">计算机/网络/技术类</option>
                                <option value="电子/电器/通信技术类">电子/电器/通信技术类</option>
                                <option value="行政后勤类">行政后勤类</option>
                                <option value="翻译类">翻译类</option>
                                <option value="销售类">销售类</option>
                                <option value="咨询/顾问类">咨询/顾问类</option>
                                <option value="财务/审计/统计类">财务/审计/统计类</option>
                                <option value="人力资源类">人力资源类</option>
                                <option value="金融保险类">金融保险类</option>
                                <option value="法律类">法律类</option>
                                <option value="生物/制药/化工/环保类">生物/制药/化工/环保类</option>
                                <option value="科研类">科研类</option>
                                <option value="医疗卫生/美容保健类">医疗卫生/美容保健类</option>
                                <option value="教育/培训类">教育/培训类</option>
                                <option value="其他类">其他类</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="TargetJob" class="col-md-2 control-label">目标职位名称</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="TargetJob" name="TargetJob" th:value="${session.user.getTargetJob()}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">目标工作地点</label>
                        <div data-toggle="distpicker">
                            <div class="col-md-2">
                                <select id="TargetProvince" name="TargetProvince"  class="form-control"></select>
                            </div>
                            <div class="col-md-2">
                                <select id="TargetCity" name="TargetCity" class="form-control"></select>
                            </div>
                            <div class="col-md-2">
                                <select id="TargetDistrict" name="TargetDistrict" class="form-control"></select>
                            </div>
                            <p id="recommend"><a class="btn btn-default" href="#" role="button">提交</a></p>
                        </div>
                    </div>
                </form>
                <h3 style="color: #3072ab;top: 5px"><span class="glyphicon glyphicon-tasks"></span>&nbsp 推荐列表</h3>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="jobs">
                    <table id="table" class="table">
                        <tr class="tr_node"  th:each="job: ${joblist}">
                            <!--动态载入数据-->
                            <td>
                                <img class="media-object img-rounded media-object" style="float:left;margin-right:40px" id="Entimg" th:src="@{${job.enterpriseLogo}}" onerror="this.src='/img/pic2.jpg'" alt="头像">
                                <h4 class="media-heading">
                                    <a style="text-decoration:none" th:href="@{'/job/'+${job.id}}" th:text="${job.name}"></a>
                                </h4>
                                <span class="desc" th:text="${job.workDays}"></span><span class="desc">天/周 | </span>
                                <span class="desc" th:text="${job.degree}"></span><span class="desc"> | </span>
                                <span class="desc" th:text="${#dates.format(job.gmtCreate,'YYYY-MM-dd HH:mm')}"></span>
                            </td>
                            <td></td>
                            <td>
                                <a class="btn btn-primary" th:href="@{'/job/'+${job.id}}" role="button" style="float:right">查看详情</a>
                            </td>
                        </tr>
                        <!-- more data -->
                    </table>
                </div>
                <br>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3></h3>
            <div class="list-group">
                <a href="/profile/info" class="list-group-item " th:classappend="${selection=='info'}?'active':''">
                    个人信息
                </a>
                <a href="/profile/questions" class="list-group-item " th:classappend="${selection=='questions'}?'active':''">
                   我的分享
                </a>
                <a href="/profile/recommend" class="list-group-item" th:classappend="${selection=='recommend'}?'active':''">
                    职位推荐
                </a>
                <a href="/profile/liking" class="list-group-item" th:classappend="${selection=='liking'}?'active':''">我关注的话题</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>