<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${selectionName}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">

    <script src="/js/jquery-3.4.1.min.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script>
        // 头像预览
        $("#avatar_file").change(function () {
            // 获取上传文件对象
            var file = $(this)[0].files[0];
            // 读取文件URL
            var reader = new FileReader();
            reader.readAsDataURL(file);
            // 阅读文件完成后触发的事件
            reader.onload = function () {
                // 读取的URL结果：this.result
                $("#avatar_img").attr("src", this.result);
            }
        });
    </script>

    <!--修改密码-->
    <script>
        var editPassword = function(){

            $("#password1").blur(function(){
                var num=$("#password1").val().length;
                if(num<6){
                    $("#tip2").html("<font color=\"red\" size=\"2\">  密码至少要6位！</font>");
                }
                else if(num>18){
                    $("#tip2").html("<font color=\"red\" size=\"2\">  密码长度不能18位</font>");
                }
                else{
                    $("#tip2").html("<font color=\"green\" size=\"2\"> OK</font>");
                }
            }) ;

            $("#password2").blur(function(){
                var tmp=$("#password1").val();
                var num=$("#password2").val().length;
                if($("#password2").val()!=tmp){
                    $("#tip3").html("<font color=\"red\" size=\"2\">  和第一次输入不同</font>");
                }
                else{
                    if(num>=6&&num<=18){
                        $("#tip3").html("<font color=\"green\" size=\"2\">  OK</font>");
                    }
                    else{
                        $("#tip3").html("<font color=\"red\" size=\"2\">  密码长度太短或太长</font>");
                    }
                }
            });

            $("#updatePassword").modal();
        }
    </script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>

<div class="container-fluid main-index">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >
            <h2 th:text="${selectionName}"></h2>
            <hr>
            <div th:if="${selectionName=='个人信息'}">
                <div class="media-left">
                    <img class="media-object img-rounded media-object" th:src="${'/img/pic1.jpg'}"  alt="头像">
                    <button onclick="editPassword()" type="button" class="btn btn-default btn-editPwd">修改密码</button>
                    <!--修改密码框-->
                    <div class="modal fade" id="updatePassword" tabindex="-1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="exampleModalLabel">密码修改</h4>
                                </div>
                                <div class="modal-body">
                                    <form name = "editForm">
                                        <div class="form-group">
                                            <label for="oldpassword">原密码：</label>
                                            <input  type='password' id="oldpassword"  class="form-control" name="oldpassword" required placeholder="原密码">
                                            <div style="display: inline" id="tip1"></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="password1">新密码:</label>
                                            <input  type='password' id="password1" name="password1"  class="form-control" required placeholder="长度为: 6-18">
                                            <div style="display: inline" id="tip2"></div>
                                        </div>
                                        <div class="form-group">
                                            <label for="password2">再次输入:</label>
                                            <input type='password' id="password2" name="password2"  class="form-control" required placeholder="必须和第一次一样">
                                            <div style="display: inline" id="tip3"></div>
                                        </div>
                                        <div class="modal-footer">
                                            <button onclick="submitPassword()" class="btn btn-primary" ng-disabled="editForm.$invalid">确定</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<input type="file" id="avatar_file" name="avatar_file"
                           accept="image/jpg,image/png,image/gif"
                           style="width: 100%;height:100%;opacity: 0;position: absolute;left:0;top: 0;"/>-->
                </div>
                <div class="media-body">
                    <form class="form-horizontal" method="post" href="/edit">
                        <div class="form-group">
                            <label for="accountId" class="col-md-1 control-label">账号</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="accountId"  th:value="${session.user.getAccountId()}" readonly>
                            </div>
                            <label for="degree" class="col-md-2 control-label">学位</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="degree" th:value="${session.user.getDegree()}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nickname" class="col-md-1 control-label">昵称</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="nickname" th:value="${session.user.getNickname()}">
                            </div>
                            <label for="name" class="col-md-2 control-label">姓名</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="name" th:value="${session.user.getName()}" readonly>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Email" class="col-md-1 control-label">邮箱</label>
                            <div class="col-md-4">
                                <input type="email" class="form-control" id="email" th:value="${session.user.getEmail()}" >
                            </div>
                            <label for="phone" class="col-md-2 control-label">联系方式</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="phone">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="dept" class="col-md-1 control-label">学院</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="dept" th:value="${session.user.getDept()}">
                            </div>
                            <label for="major" class="col-md-2 control-label">所学专业</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control" id="major" placeholder="major">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="bio" class="col-md-1 control-label">简介</label>
                            <div class="col-md-10">
                                <textarea id="bio" name="bio"  class="form-control" cols="30" rows="3"> </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-5 col-md-10">
                                <button type="submit" class="btn btn-success">修改</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div th:if="${selectionName=='我的提问'}">
                <div class="media-left">
                </div>
                <div class="media-body">
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3></h3>
            <div class="list-group">
                <a href="/profile/info" class="list-group-item " th:classappend="${selection=='info'}?'active':''">
                    个人信息
                </a>
                <a href="/profile/questions" class="list-group-item " th:classappend="${selection=='questions'}?'active':''">
                   我的提问
                </a>
                <a href="/profile/replies" class="list-group-item" th:classappend="${selection=='replies'}?'active':''">
                    最新回复
                    <span class="badge">14</span>
                </a>
                <a href="/profile/liking" class="list-group-item" th:classappend="${selection=='liking'}?'active':''">我关注的话题</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>